html,body{
    height: 100%;
}

.btn-shift{
    background-color: #EE814A;
    color: white;
}

.btn-shift:hover{
    background-color: white;
    color: black;
    border: 1px solid;
    border-color: #EE814A;
}

.btn-circle{
    border-radius: 50%;
}

.icon-list{
    border-radius: 50%;
    background-color: gray;
    font-size: 30px;
}

.col-btn{
    text-align: end;
}

.btn-accion{
    background-color: #BFE6E0;
    border-color: #BFE6E0;
    color: black;
}

.img-circle{
    border-radius: 50%;
}

.card-mesa:hover{
    box-sizing: border-box;
    border: 3px solid;
    border-color: chartreuse;
}

.mnu-vertical{
    background-color: #EE814A;
    border-radius: 0 0 0 20px;
    height: 100%;
    width: 80px;
    padding: 10px 0 20px 0;
}

.item-mnu-vertical{
    padding: 20px;
    border-radius: 20px 0 0 20px;
    text-align: center;
    color: white;
}

.item-mnu-vertical:hover{
    background-color: #ee6b29;
    color: black;
}

.item-mnu-selected{
    background-color: white;
    color: black;
}

.item-mnu-selected:hover{
    background-color: white;
    color: black;
}

.icon-mnu-vertical{
    font-size: 20px;
}

.descripction-mnu-vertical{
    font-weight: bold;
    font-size: 12px;
}

.logo-header{
    width: 40px;
    margin: 10px;
}

.header-nav{
    border-bottom: 1px solid #807e7e;
}

.btn-item-header{
    border-right: 1px solid #555353;
    color: #EE814A;
}